{% if page.file.src_uri.startswith('blog/posts') %}
<script src="https://giscus.app/client.js"
        data-repo="apnea-scrap/apnea-scrap-lab"
        data-repo-id="R_kgDOPda6yA"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOPda6yM4Cv4VY"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
