{% if page.file.src_uri.startswith('blog/posts') %}
<h2 id="comments" class="">Comments</h2>
<p class="comment-note">
    Have a question, want to share feedback, or continue the discussion? Leave a comment below!
    Please keep the conversation welcoming and follow the
    <a href="https://docs.github.com/site-policy/github-terms/github-community-guidelines">GitHub Community Guidelines</a>.
    This thread mirrors a
    <a href="https://github.com/apnea-scrap/apnea-scrap-lab/discussions/categories/blog-comments?discussions_q={{ ('"' ~ page.title ~ '" in:title') | urlencode }}"><em>GitHub discussion</em></a>,
    so you can also join the conversation there.
</p>

<script src="https://giscus.app/client.js"
        data-repo="apnea-scrap/apnea-scrap-lab"
        data-repo-id="R_kgDOPda6yA"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOPda6yM4Cv4VY"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<p class="comment-directly-on-github">
    Prefer not to authenticate with <a href="https://giscus.app">giscus</a>? You can participate directly on
    <a href="https://github.com/apnea-scrap/apnea-scrap-lab/discussions/categories/blog-comments?discussions_q={{ ('"' ~ page.title ~ '" in:title') | urlencode }}"><em>GitHub Discussions</em></a> instead.
</p>
{% endif %}
